{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {% include 'includes/alerts.html' %}
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item active" href="#"> Mi historial de compras </a>
          <a class="list-group-item" href="#"> Mis direcciones </a>
          <a class="list-group-item" href="#"> Ajustes </a>
          <a class="list-group-item" href="#"> Pedidos recibidos </a>
        </ul>
        <br>
        <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Cerrar
            sesión</span> </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Listado de pedidos</strong>
            {% comment %} <span>Fecha del pedido: 16 Diciembre 2018</span> {% endcomment %}
          </header>


          {% comment %} <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <td width="65">
                  <img src="../images/items/1.jpg" class="img-xs border">
                </td>
                <td>
                  <p class="title mb-0">Nombre del producto </p>
                  <var class="price text-muted">$ 990.000</var>
                </td>

                <td width="250"> <a href="#" class="btn btn-outline-primary">Rastrear compra</a> <a href="#" class="btn btn-light"> Detalles </a> </td>
              </tr>
            </table>
          </div> <!-- table-responsive .end// --> {% endcomment %}
        </article> <!-- order-group.// -->
      </main>
    </div> <!-- row.// -->
  </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}