{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->

        <div class="row">
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 clas="card-title mb-4"> Dirección de Envio </h4>
                        <form action="" method="POST" id="form-direccion">
                            <div class="form-row">
                                <div class="col form-grup">
                                    <label for="">Nombre</label>
                                    <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="col form-grup">
                                    <label for="">Apellido</label>
                                    <input type="text" name="last_name" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-grup">
                                    <label for="">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-grup">
                                    <label for="">Región</label>
                                    <input type="text" name="region" class="form-control" required>
                                </div>
                                <div class="col form-grup">
                                    <label for="">Comuna</label>
                                    <input type="text" name="comuna" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-grup">
                                    <label for="">Calle</label>
                                    <input type="text" name="calle" class="form-control" required>
                                </div>
                                <div class="col form-grup">
                                    <label for="">Num. Calle</label>
                                    <input type="text" name="num_calle" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-grup">
                                    <label for="">Block</label>
                                    <input type="text" name="block" class="form-control">
                                </div>
                                <div class="col form-grup">
                                    <label for="">Núm. Dpto</label>
                                    <input type="text" name="num_dpto" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-grup">
                                    <label for="">Comentarios adicionales</label>
                                    <textarea type="text" name="comentarios" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Productos</th>
                                    <th scope="col" width="120">Cantidad</th>
                                    <th scope="col" width="120">Valor</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}"
                                                    class="img-sm">
                                            </div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url}}"
                                                    class="title text-dark">{{ cart_item.product.product_name }}</a>

                                                <p class="text-muted small">{% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                    {{ item.get_variation_category_display }} :
                                                    {{ item.variation_value}}
                                                    <br>
                                                    {% endfor %}
                                                    {% endif %}</p>

                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <p class="text-center">{{ cart_item.quantity }}</p>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">${{ cart_item.sub_total | intcomma}}</var>
                                            <small class="text-muted"> ${{ cart_item.product.price | intcomma }} c/u
                                            </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                        <button type="submit" name="submit" form="form-direccion"
                            class="btn btn-primary btn-block">Confirmar</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuar Comprando</a>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->

        </div> <!-- row.// -->

        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>


{% endblock content %}